.thead {
  color: aliceblue;
  background-color: rgb(57, 141, 127);
}

.price::before,
.cost::before,
.total::before {
  content: "$ "
}

.table thead th {
  width: 20%
}

.add {
  background-color: rgb(57, 141, 127);
  color: rgb(255, 255, 255);
  width: 65px;
}